i {
  cursor: pointer;
  position: relative;

  span{
    position: absolute;
    font-size: 15px;
    color: yellow;
    bottom: 12px;
    right: -10px;
  }

  .cart {
    overflow: scroll;
    display: none;
    width: 400px;
    max-height: 260px;
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #ffff;
    border-radius: 5px 0 0 5px;
    color: black;
    font-family: 'circular';
  
    buy-cart{
      display: flex;
      justify-content: space-between;
      font-size: 25px;
    }
    
  }

  &:hover > .cart{
    display: block;
  }
}

.buy-cart{

  .total{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  button{
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  background-color: yellow;
  border: 1px solid yellow;
  color: #2e2e2e;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  width: 100%;
  }

}
.general-cart{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
    h3{
      font-family: "PT Sans", sans-serif;
    }
    .cart-precio{
      position: absolute;
      left: 270px;
    }
    
}


  