.title-plan-de-pago {
  grid-column: 2/16;
  color: white;
  text-align: center;
  margin: 80px 0px;
}

.plans {
  .plan-extend {
    @extend .plan;
    .plan-title {
      display: flex;
      margin-bottom: 15px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }

      h2 {
        margin-bottom: 0;
      }
    }

    .price-plan-de-pago {
      margin-bottom: 35px;

      p {
        font-weight: 600;
        font-size: 20px;

        span {
          font-weight: 200;
          font-size: 18px;
        }
      }
    }

    button {
      border: 1px solid yellow;
      background: transparent;
      color: yellow;
      padding: 20px 5px;
      border-radius: 10px;
      width: 85%;
      margin: 0px auto;
      display: flex;
      margin-top: 60px;
      justify-content: center;
      font-size: 15px;
    }

  }
}


@media screen and (max-width: 768px) {
  .title-plan-de-pago{
    grid-column: 1/17;
    margin: 0px 0px;
  }
}